<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Set Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  </head>
  <body>
    <div class="container">
      <div class="jumbotron bg-dark text-white">
        <h1>Blockchain Licenses</h1>
        <p>Why To Trust Your Hosting Service ? When You Dont Need To .</p>

      </div>
    <div class="">

      <div class="row">
          <div class="col-6 ">

            <div class="card mb-3">
              <div class="card-header">Ethereum Contract Details</div>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <tr>
                      <td>Contract Owner</td>
                      <td>{{Address}}</td>

                    </tr>
                    <tr>
                      <td>New Owner</td>
                      <td>{{new_admin}}</td>

                    </tr>
                  </table>

                </div>
              </div>
              </div>


              <form>
            <div class="form-group">
            <input type="text" class="form-control" id="newAdminAddress" placeholder="Enter New Admin Ethereum Address">
            <small id="newEthereumAddressHelp" class="form-text text-muted">Make Sure To Check It Twice Before Using Pressing Submit .</small>
            </div>

            <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I Confirm I Have Submitted Correct Address</label>
            </div>
            <a href="#" class="btn btn-primary">Change OwnerShip</a>
            </form>

            </div>

            <div class="col-6 col-auto">
              <div class="card   border-success bg-warning mb-3" >
                <div class="card-header">CAUTION !</div>
                <div class="card-body">
                  <h5 class="card-title">Think Twice Before Clicking Change !</h5>
                  <p class="card-text">This Will Change Ownership Of Contract Address To Entered Ethereum Address</p>
                </div>
              </div>
            </div>
          </div>





      </div>

    </div>

    </div>







  </body>




<script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.36/dist/web3.min.js" integrity="sha256-nWBTbvxhJgjslRyuAKJHK+XcZPlCnmIAAMixz6EefVk=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script type="text/javascript">
if(typeof web3 !== 'undefined'){
  web3 = Web3(new web3.currentProvider);
}
else{
  web3 = new Web3(new Web.providers.HTTPProvider('HTTP://127.0.0.1:8545'))
}
web3.eth.defaultAccount = web3.eth.accounts[0];


</script>

</html>
